body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
 
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }



 .test {
  display: flex; 

  width: 100%;
 
  justify-content: space-evenly;
  flex-direction: row-reverse; 
  flex-wrap: wrap;
}

 .table {
align-items: center;
justify-content: center;
text-align: center;
border-radius: 100px;
border: solid;
background-color: greenyellow;
width: 20%;
height: 15%;
padding: 2.5%;
margin: 2.5%;
box-shadow: 5px 10px #888888;

}
